<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,908},{60,66}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,908},{60,76}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>arrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,908},{60,86}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,86}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>arrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,908},{60,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,96}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>arrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{60,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>cat_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,139},{270,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,135}}</string>
                <key>sourceSize</key>
                <string>{270,135}</string>
            </dict>
            <key>dad_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,564},{135,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,270}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
            <key>dau1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,413},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>flash_1x1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>flash_1x1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,530},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{37,40}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>flash_1x1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,836},{41,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{41,44}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>flash_1x1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,836},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>flash_1x1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,530},{40,43}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{40,43}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>flash_1x1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,976},{45,38}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{45,38}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>flash_1x1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,530},{41,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{41,40}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>flash_1x1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,550},{41,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{41,40}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>flash_1x1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,836},{41,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{41,44}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>flash_1x1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,836},{42,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{42,43}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>flash_1x1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,976},{40,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{40,45}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>flash_1x1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,530},{39,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,40}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>flash_1x1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,530},{39,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{39,38}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>flash_1x1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,550},{41,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{41,40}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>flash_1x1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,530},{40,41}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{40,41}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>horse_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{270,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,135}}</string>
                <key>sourceSize</key>
                <string>{270,135}</string>
            </dict>
            <key>host_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{135,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,270}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
            <key>lion_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,882},{270,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,135}}</string>
                <key>sourceSize</key>
                <string>{270,135}</string>
            </dict>
            <key>maid_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,292},{135,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,270}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
            <key>mom_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,276},{133,266}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,266}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
            <key>musume1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,304},{135,296}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,296}}</string>
                <key>sourceSize</key>
                <string>{135,300}</string>
            </dict>
            <key>musume1_walking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{153,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{149,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{149,288}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,606},{147,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{149,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{149,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,602},{145,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{145,288}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,304},{135,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{135,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>musume1_walking_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{145,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,300}}</string>
                <key>sourceSize</key>
                <string>{153,300}</string>
            </dict>
            <key>son1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,276},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>son2_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,139},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>son3_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>son4_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,892},{121,135}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{121,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>uncle_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,411},{117,266}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{117,266}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessary-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f83acdc193278ed62b5b6f4165d890cf:3d8fe6c740d9f57c0d33bd15c9b7281d:5fff4d3cb5de485e638049a3919e45bb$</string>
            <key>textureFileName</key>
            <string>accessary-hd.png</string>
        </dict>
    </dict>
</plist>
