<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,458},{30,34}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,458},{30,38}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>arrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,458},{30,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>arrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,458},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>arrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{30,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>cat_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,139},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>dad_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,285},{68,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,135}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>dau1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,282},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>flash_1x1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,508},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>flash_1x1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,116},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,21}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>flash_1x1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,47},{21,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{21,22}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>flash_1x1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,422},{22,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,23}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>flash_1x1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{20,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,23}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>flash_1x1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{23,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{23,20}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>flash_1x1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,93},{21,21}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{21,21}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>flash_1x1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,70},{21,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{21,21}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>flash_1x1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,47},{21,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{21,22}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>flash_1x1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,422},{22,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,23}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>flash_1x1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,422},{20,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{20,23}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>flash_1x1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,24},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,21}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>flash_1x1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,116},{21,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{21,20}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>flash_1x1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,70},{21,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{21,21}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>flash_1x1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,24},{21,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{21,22}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>horse_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,72},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>host_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{68,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,135}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>lion_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>maid_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,148},{68,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,135}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>mom_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,142},{68,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,133}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>musume1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{68,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,148}}</string>
                <key>sourceSize</key>
                <string>{68,150}</string>
            </dict>
            <key>musume1_walking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{75,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{75,144}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,306},{75,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,304},{73,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{73,144}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,154},{69,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>musume1_walking_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{73,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>son1_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,282},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>son2_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,212},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>son3_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,212},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>son4_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,447},{62,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>uncle_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,450},{60,133}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,133}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessary.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16444f90a018835f70d07fd69dffa3fe:3d8fe6c740d9f57c0d33bd15c9b7281d:93c0ca57829c3d4837d685a0d2492918$</string>
            <key>textureFileName</key>
            <string>accessary.png</string>
        </dict>
    </dict>
</plist>
