<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>congras.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,134}</string>
            </dict>
            <key>lvClear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{318,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,550}}</string>
                <key>sourceSize</key>
                <string>{318,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lv_clear.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e3e476faa6c946b1cfac94124c0ccf:b310553e41e5c360b21991daac5ec449:8056bb7cd1aa7fddffc3aa22770fdd54$</string>
            <key>textureFileName</key>
            <string>lv_clear.png</string>
        </dict>
    </dict>
</plist>
