<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1722},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,902},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1722},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1738},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,782},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1738},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,722},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1574},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,722},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1558},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1410},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,542},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,542},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1534},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,522},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1394},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,362},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1246},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,362},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1370},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1230},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,182},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1082},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,182},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1206},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1066},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1042},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,902},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,258}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{178,258}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageList_5-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34fe38172516c922edbc392295bea2b:142e42e2217db8ba8f9f9a97f632bdac:814da09a31d7f9911304b1a2e90a421f$</string>
            <key>textureFileName</key>
            <string>stageList_5-hd.png</string>
        </dict>
    </dict>
</plist>
