<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1534},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1034},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1478},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1034},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1456},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1370},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,862},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1314},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,862},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1206},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1206},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,690},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1814},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,690},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1564},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1314},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,518},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,518},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,346},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1150},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,346},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,986},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,822},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,174},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,658},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,174},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,494},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,330},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,166},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{162,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>lv_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,254}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{170,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageList_1-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:282601850615d3e0c8e81fbbc9e46e65:ca30385fa21cdc82fba06bd92ede3087:10ece9af2fff674f2dde9c9ae0ec0dca$</string>
            <key>textureFileName</key>
            <string>stageList_1-hd.png</string>
        </dict>
    </dict>
</plist>
