<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,890},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,462},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,908},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,882},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,398},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,882},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,370},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,806},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,370},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,824},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,278},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,798},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,278},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,722},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,266},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,740},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,186},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,714},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,186},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,638},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,134},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,656},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,94},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,630},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,554},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,546},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,530},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,130}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,130}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageList_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:611c448014874337c97d69a922de1831:30905db7977eb1b7a5476b30e3fbdfab:8f912cd5cf958595e3a2cfd02ee0d7f4$</string>
            <key>textureFileName</key>
            <string>stageList_3.png</string>
        </dict>
    </dict>
</plist>
