<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,866},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,442},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,900},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,862},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,392},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,862},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,354},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,782},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,354},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,816},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,266},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,778},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,266},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,698},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,262},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,732},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,178},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,694},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,178},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,614},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,648},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,90},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,610},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,530},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,526},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,522},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,442},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>lv_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageList_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2481f0b82788dcf997c6c60e0eaa986:ca30385fa21cdc82fba06bd92ede3087:118f891a4531ddb03025303ce2106356$</string>
            <key>textureFileName</key>
            <string>stageList_1.png</string>
        </dict>
    </dict>
</plist>
