<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>op1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,515},{584,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{584,341}}</string>
                <key>sourceSize</key>
                <string>{640,371}</string>
            </dict>
            <key>op1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1140},{546,762}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,208},{546,762}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>op1_2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>op1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,83},{406,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,624}}</string>
                <key>sourceSize</key>
                <string>{406,624}</string>
            </dict>
            <key>op1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,515},{406,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,604}}</string>
                <key>sourceSize</key>
                <string>{406,604}</string>
            </dict>
            <key>op1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,83},{430,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,616}}</string>
                <key>sourceSize</key>
                <string>{430,616}</string>
            </dict>
            <key>op1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{508,816}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,119},{508,816}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>op1_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>op1_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>op1_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1942},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>op1_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1958},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>op1_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1904},{640,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,36}}</string>
                <key>sourceSize</key>
                <string>{640,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>op1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6cbe3aad7d7a7d88037e89c0f97a55$</string>
            <key>textureFileName</key>
            <string>op1.png</string>
        </dict>
    </dict>
</plist>
